# Import Required Libraries

- Import `pandas` for data manipulation.
- Use `MLClient` and `DefaultAzureCredential` to connect to Azure Machine Learning services securely.

In [1]:
import pandas as pd
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

# Connect to Azure Machine Learning and Access Data Asset

1. **Establish Connection**:
   - `MLClient.from_config`: Initializes the Azure ML client using the `DefaultAzureCredential` for authentication and a configuration file for connection details.
   - This step ensures secure access to your Azure ML workspace.

2. **Retrieve Data Asset**:
   - `ml_client.data.get`: Fetches the specified data asset (`"berratinganalysis"`) by its name and version (`"1"`).
   - The data asset is a registered dataset in the Azure ML workspace, which will be used for further analysis and cleaning.

This step sets up the connection to Azure ML and retrieves the required dataset for processing.

In [2]:
ml_client = MLClient.from_config(credential=DefaultAzureCredential())
data_asset = ml_client.data.get("berratinganalysis", version="1")

Found the config file in: /config.json

# Load Dataset

- Use `pandas` to load the dataset from the Azure ML data asset path.
- Display the dataset to preview its structure and contents.

In [3]:
df = pd.read_csv(data_asset.path)
df

/tmp/ipykernel_110512/2198308889.py:1: DtypeWarning: Columns (61,62,63,64,65,66,71,73,97,98,139,144,150,155,161,166) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_asset.path)

,CountyName,DwellingTypeDescr,Year_of_Construction,TypeofRating,EnergyRating,BerRating,GroundFloorArea(sq m),UValueWall,UValueRoof,UValueFloor,...,ThirdWallAgeBandId,ThirdWallTypeId,SA_Code,prob_smarea_error_0corr,prob_smarea_error_100corr,RER,RenewEPnren,RenewEPren,CPC,EPC
0,Co. Louth,Mid-terrace house,1984,Existing,C2,178.17,79.44,0.31,0.13,0.50,...,7.0,5.0,147019047,5.562300e-07,0.002500,NaN,NaN,NaN,NaN,NaN
1,Co. Cork,Detached house,2001,Existing,C3,206.70,184.55,0.21,0.17,0.44,...,NaN,NaN,47263004,4.800960e-02,0.048010,NaN,NaN,NaN,NaN,NaN
2,Dublin 17,Mid-terrace house,1978,Existing,C3,216.38,80.46,1.10,0.40,0.48,...,NaN,NaN,268120005,4.449130e-05,0.002500,NaN,NaN,NaN,NaN,NaN
3,Dublin 6,Ground-floor apartment,1985,Existing,F,443.20,62.92,0.32,0.00,0.55,...,NaN,NaN,267075006,1.749050e-04,0.002500,NaN,NaN,NaN,NaN,NaN
4,Co. Galway,Detached house,1850,Existing,G,589.90,112.50,2.10,1.19,0.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,Co. Carlow,Mid-floor apartment,2004,Existing,C1,156.48,89.77,0.69,0.00,0.00,...,NaN,NaN,17011003,2.500000e-03,0.002500,NaN,NaN,NaN,NaN,NaN
1048571,Co. Meath,Semi-detached house,2000,Existing,C3,221.97,112.94,0.54,0.40,0.41,...,9.0,8.0,167017002,2.910765e-03,0.050000,NaN,NaN,NaN,NaN,NaN
1048572,Co. Cork,Semi-detached house,1982,Existing,D2,272.93,108.37,1.10,0.17,0.57,...,NaN,NaN,47016027,1.049685e-03,0.017443,NaN,NaN,NaN,NaN,NaN
1048573,Dublin 13,Semi-detached house,2007,Existing,B3,136.80,125.27,0.37,0.25,0.34,...,NaN,NaN,267004019,2.218870e-04,0.012347,NaN,NaN,NaN,NaN,NaN
1048574,Co. Cavan,Mid-terrace house,2000,Existing,C2,183.72,93.79,0.55,0.40,0.29,...,NaN,NaN,27013008,1.168070e-05,0.012347,NaN,NaN,NaN,NaN,NaN

# Load and Preview Dataset

1. **Load Dataset**:
   - Load the dataset from the Azure ML data asset path using `pandas`.
   - Set `low_memory=False` to ensure efficient handling of mixed data types during loading.

2. **Preview Data**:
   - Use `df.head()` to display the first few rows of the dataset.
   - This helps verify the data structure, column names, and initial values before processing.

In [4]:
df = pd.read_csv(data_asset.path, low_memory=False)
print(df.head())

   CountyName       DwellingTypeDescr  Year_of_Construction     TypeofRating  \
0   Co. Louth       Mid-terrace house                  1984  Existing
1    Co. Cork          Detached house                  2001  Existing
2   Dublin 17       Mid-terrace house                  1978  Existing
3    Dublin 6  Ground-floor apartment                  1985  Existing
4  Co. Galway          Detached house                  1850  Existing

  EnergyRating  BerRating  GroundFloorArea(sq m)  UValueWall  UValueRoof  \
0           C2     178.17                  79.44        0.31        0.13
1           C3     206.70                 184.55        0.21        0.17
2           C3     216.38                  80.46        1.10        0.40
3           F      443.20                  62.92        0.32        0.00
4           G      589.90                 112.50        2.10        1.19

   UValueFloor  ...  ThirdWallAgeBandId  ThirdWallTypeId    SA_Code  \
0         0.50  ...                 7.0              5.0  147019047
1         0.44  ...                 NaN              NaN   47263004
2         0.48  ...                 NaN              NaN  268120005
3         0.55  ...                 NaN              NaN  267075006
4         0.90  ...                 NaN              NaN        NaN

   prob_smarea_error_0corr  prob_smarea_error_100corr  RER  RenewEPnren  \
0             5.562300e-07                    0.00250  NaN          NaN
1             4.800960e-02                    0.04801  NaN          NaN
2             4.449130e-05                    0.00250  NaN          NaN
3             1.749050e-04                    0.00250  NaN          NaN
4                      NaN                        NaN  NaN          NaN

   RenewEPren  CPC EPC
0         NaN  NaN NaN
1         NaN  NaN NaN
2         NaN  NaN NaN
3         NaN  NaN NaN
4         NaN  NaN NaN

[5 rows x 211 columns]

# Generate Descriptive Statistics

- Use `df.describe()` to compute summary statistics for numerical columns.
- Provides key metrics such as:
  - **Count**: Number of non-null values.
  - **Mean**: Average of the values.
  - **Std**: Standard deviation (spread of data).
  - **Min/Max**: Range of the data.
  - **Quartiles**: 25th, 50th (median), and 75th percentiles.
- This step helps understand the distribution and identify potential anomalies in numerical data.

In [5]:
print(df.describe())

       Year_of_Construction     BerRating  GroundFloorArea(sq m)  \
count          1.048575e+06  1.048575e+06           1.048575e+06
mean           1.985647e+03  2.143661e+02           1.169888e+02
std            3.438227e+01  1.734776e+02           6.229590e+01
min            1.753000e+03 -4.729900e+02           5.470000e+00
25%            1.974000e+03  1.287200e+02           7.900000e+01
50%            1.998000e+03  1.925000e+02           1.024400e+02
75%            2.006000e+03  2.670200e+02           1.372800e+02
max            2.073000e+03  5.642371e+04           3.546110e+03

         UValueWall    UValueRoof   UValueFloor  UValueWindow    UvalueDoor  \
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   6.285840e-01  3.593738e-01  4.129716e-01  2.472990e+00  2.294459e+00
std    5.506174e-01  4.909520e-01  2.537919e-01  8.951520e-01  1.051593e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.800000e-01  1.300000e-01  2.000000e-01  2.000000e+00  1.400000e+00
50%    4.100000e-01  2.000000e-01  4.100000e-01  2.700000e+00  3.000000e+00
75%    6.000000e-01  3.800000e-01  5.800000e-01  2.890000e+00  3.000000e+00
max    5.650000e+00  7.000000e+00  4.970000e+00  8.340000e+00  8.600000e+00

           WallArea      RoofArea  ...  ThirdWallUValue  ThirdWallAgeBandId  \
count  1.048575e+06  1.048575e+06  ...    186237.000000       182924.000000
mean   9.656737e+01  7.192639e+01  ...         0.752644            6.645131
std    5.687326e+01  5.207382e+01  ...         0.620498            3.106611
min    0.000000e+00  0.000000e+00  ...         0.010000            0.000000
25%    5.511000e+01  4.296000e+01  ...         0.320000            4.000000
50%    8.909000e+01  5.995000e+01  ...         0.530000            7.000000
75%    1.183900e+02  9.268000e+01  ...         1.100000            9.000000
max    1.480240e+03  3.701550e+03  ...        10.000000           12.000000

       ThirdWallTypeId  prob_smarea_error_0corr  prob_smarea_error_100corr  \
count    186072.000000             8.141830e+05              814183.000000
mean          6.619233             2.379927e-02                   0.025603
std           3.013347             4.193595e-02                   0.028383
min           1.000000             5.642000e-09                   0.002500
25%           4.000000             4.018980e-06                   0.002500
50%           7.000000             1.001012e-03                   0.012347
75%           9.000000             5.000000e-02                   0.050000
max          14.000000             9.675549e-01                   0.400000

                 RER    RenewEPnren     RenewEPren            CPC  \
count  363142.000000  363141.000000  363141.000000  450762.000000
mean        0.203209   18692.308895    3034.414917       0.979495
std         0.244756   16524.281889    4789.704884       0.954033
min         0.000000       0.000000  -38012.800000      -3.025000
25%         0.000000    5796.990000       0.000000       0.300000
50%         0.016000   15494.200000     193.300000       0.818000
75%         0.429000   25795.600000    4952.640000       1.343000
max         6.296000  604515.000000  519638.000000      19.992000

                 EPC
count  450762.000000
mean        0.911284
std         0.733869
min        -2.947000
25%         0.332000
50%         0.814000
75%         1.248000
max        12.385000

[8 rows x 157 columns]

# Display Dataset Information

- Use `df.info(memory_usage='deep')` to get an overview of the dataset, including:
  - **Number of rows and columns**: The dataset's size.
  - **Column data types**: Identifies `int`, `float`, `object`, etc.
  - **Non-null values**: Checks for missing data.
  - **Memory usage**: Calculates the memory consumption of the dataset in detail (`'deep'` includes object columns).

This step is crucial for understanding the dataset's structure and optimizing memory management during processing.

In [6]:
print(df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Columns: 211 entries, CountyName to EPC
dtypes: float64(148), int64(9), object(54)
memory usage: 4.3 GB
None

# Inspect Object (Text) Columns

1. **Purpose**:
   - Analyze columns with `object` data type to understand text-based attributes in the dataset.

2. **Function Overview**:
   - Identifies all `object` columns in the dataset.
   - Displays for each column:
     - **Data Type**: Confirms the type of the column.
     - **Unique Values Count**: Number of distinct values.
     - **Null Values**: Number of missing entries.
     - **Sample Values**: Shows the first 5 unique values as a preview.

3. **Utility**:
   - Useful for identifying inconsistencies, missing data, or patterns in categorical columns.
   - Helps plan cleaning strategies such as standardizing values or handling nulls.

In [7]:
# Inspect object (text) columns.
def inspect_object_columns(df):
    object_cols = df.select_dtypes(include=['object'])
    print(f"Total object columns: {object_cols.shape[1]}")
    
    # Go through each object column
    for col in object_cols.columns:
        print(f"\nColumn: {col}")
        print(f"Data Type: {object_cols[col].dtype}")
        print(f"Unique Values Count: {object_cols[col].nunique()}")
        print(f"Null Values: {object_cols[col].isna().sum()}")
        print("Five Sample Unique Values:", object_cols[col].unique()[:5])  # Show first 5 unique values as sample

# Inspect Numerical Columns

1. **Purpose**:
   - Analyze numerical columns (`float64` and `int64`) to understand the statistical properties of numerical data.

2. **Function Overview**:
   - Identifies all numerical columns in the dataset.
   - Displays for each column:
     - **Data Type**: Confirms the type of the column.
     - **Null Values**: Number of missing entries.
     - **Unique Values Count**: Number of distinct values.
     - **High/Low**: Maximum and minimum values in the column.
     - **Mean**: Average of the values.
     - **Median**: Middle value when sorted.

3. **Utility**:
   - Helps detect outliers, missing data, and the overall distribution of numerical values.
   - Useful for determining which columns might need capping, scaling, or imputation.

In [8]:
# Inspect numerical columns.
def inspect_numerical_columns(df):
    numerical_cols = df.select_dtypes(include=['float64', 'int64'])
    print(f"Total numerical columns: {numerical_cols.shape[1]}")
    
    # Each numerical column
    for col in numerical_cols.columns:
        print(f"\nColumn: {col}")
        print(f"Data Type: {numerical_cols[col].dtype}")
        print(f"Null Values: {numerical_cols[col].isna().sum()}")
        print(f"Unique Values Count: {numerical_cols[col].nunique()}")
        print(f"High: {numerical_cols[col].max()}")
        print(f"Low: {numerical_cols[col].min()}")
        print(f"Mean: {numerical_cols[col].mean()}")
        print(f"Median: {numerical_cols[col].median()}")

# Inspect Boolean Columns

1. **Purpose**:
   - Analyze boolean columns (`bool` and `boolean` data types) to understand binary attributes in the dataset.

2. **Function Overview**:
   - Identifies all boolean columns in the dataset.
   - Displays for each column:
     - **Data Type**: Confirms the type of the column.
     - **Null Values**: Number of missing entries.
     - **Unique Values**: Possible distinct values (e.g., `True`, `False`, or `NaN`).
     - **True Count**: Total number of `True` values.
     - **False Count**: Total number of `False` values.

3. **Utility**:
   - Ensures binary columns are correctly formatted and have expected distributions.
   - Highlights missing or skewed data in boolean attributes.

In [9]:
# Inspect boolean columns.
def inspect_boolean_columns(df):
   
    boolean_cols = df.select_dtypes(include=['bool', 'boolean'])
    print(f"Total boolean columns: {boolean_cols.shape[1]}")
    
    # Going through each boolean column
    for col in boolean_cols.columns:
        print(f"\nColumn: {col}")
        print(f"Data Type: {boolean_cols[col].dtype}")
        print(f"Null Values: {boolean_cols[col].isna().sum()}")
        print(f"Unique Values: {boolean_cols[col].unique()}")
        print(f"True Count: {boolean_cols[col].sum()}")
        print(f"False Count: {boolean_cols[col].size - boolean_cols[col].sum() - boolean_cols[col].isna().sum()}")

In [ ]:
# inspect_object_columns(df)
# inspect_numerical_columns(df)
# inspect_boolean_columns(df)

# Inspect a Specific Column

1. **Purpose**:
   - Analyze a single column to understand its data type, unique values, and the percentage distribution of those values.

2. **Function Overview**:
   - Checks if the specified column exists in the dataset.
   - Displays:
     - **Data Type**: Confirms the type of the column.
     - **Unique Values**: Lists all distinct values in the column.
     - **Percentage Distribution**: Shows the percentage of each unique value for better understanding of data proportions.

3. **Utility**:
   - Useful for analyzing categorical or numerical columns in detail.
   - Helps detect irregularities, skewness, or unexpected values in a specific column.

4. **Usage**:
   - Call `inspect_column(df, 'ColumnName')` by replacing `'ColumnName'` with the name of the column you want to analyze.

In [10]:
# Display unique values, data type, and percentage of each unique value for a specified column.

def inspect_column(df, column_name):
    
    # Checking if the column exists in the dataset
    if column_name not in df.columns:
        print(f"Column '{column_name}' does not exist in the DataFrame.")
        return
    
    # Data type
    print(f"Data type of '{column_name}': {df[column_name].dtype}")
    
    # Unique values
    unique_values = df[column_name].unique()
    print(f"\nUnique values in '{column_name}':")
    print(unique_values)
    
    # Calculating the percentage of each unique value
    value_counts = df[column_name].value_counts(normalize=True) * 100
    print(f"\nPercentage distribution of unique values in '{column_name}':")
    print(value_counts)

# inspect_column(df, 'ColumnName')

In [11]:
# Inspect all columns
def inspect_all_columns(df, num_unique_values=5):
   
    for col in df.columns:
        print(f"Column: {col}")
        print(f"Data Type: {df[col].dtype}")
        print(f"Number of Unique Values: {df[col].nunique()}")
        print(f"Sample Unique Values: {df[col].unique()[:num_unique_values]}")
        # print("-" * 50)

# Call the function
# inspect_all_columns(df)

In [12]:
inspect_all_columns(df)

Column: CountyName
Data Type: object
Number of Unique Values: 55
Sample Unique Values: ['Co. Louth' 'Co. Cork' 'Dublin 17' 'Dublin 6' 'Co. Galway']
Column: DwellingTypeDescr
Data Type: object
Number of Unique Values: 11
Sample Unique Values: ['Mid-terrace house' 'Detached house' 'Ground-floor apartment'
 'Semi-detached house' 'House']
Column: Year_of_Construction
Data Type: int64
Number of Unique Values: 266
Sample Unique Values: [1984 2001 1978 1985 1850]
Column: TypeofRating
Data Type: object
Number of Unique Values: 3
Sample Unique Values: ['Existing       ' 'Provisional    ' 'Final          ']
Column: EnergyRating
Data Type: object
Number of Unique Values: 15
Sample Unique Values: ['C2' 'C3' 'F ' 'G ' 'D1']
Column: BerRating
Data Type: float64
Number of Unique Values: 78170
Sample Unique Values: [178.17 206.7  216.38 443.2  589.9 ]
Column: GroundFloorArea(sq m)
Data Type: float64
Number of Unique Values: 47507
Sample Unique Values: [ 79.44 184.55  80.46  62.92 112.5 ]
Column: UValueWall
Data Type: float64
Number of Unique Values: 287
Sample Unique Values: [0.31 0.21 1.1  0.32 2.1 ]
Column: UValueRoof
Data Type: float64
Number of Unique Values: 304
Sample Unique Values: [0.13 0.17 0.4  0.   1.19]
Column: UValueFloor
Data Type: float64
Number of Unique Values: 143
Sample Unique Values: [0.5  0.44 0.48 0.55 0.9 ]
Column: UValueWindow
Data Type: float64
Number of Unique Values: 554
Sample Unique Values: [2.2  2.81 3.54 2.8  4.8 ]
Column: UvalueDoor
Data Type: float64
Number of Unique Values: 577
Sample Unique Values: [3.   4.8  4.35 3.2  2.94]
Column: WallArea
Data Type: float64
Number of Unique Values: 34183
Sample Unique Values: [ 88.77 171.57  34.94  65.68 139.7 ]
Column: RoofArea
Data Type: float64
Number of Unique Values: 30382
Sample Unique Values: [ 40.82 104.58  40.23   0.    64.56]
Column: FloorArea
Data Type: float64
Number of Unique Values: 27772
Sample Unique Values: [40.78 96.46 40.23 62.92 60.8 ]
Column: WindowArea
Data Type: float64
Number of Unique Values: 11744
Sample Unique Values: [12.28 53.7  14.4  11.22 10.05]
Column: DoorArea
Data Type: float64
Number of Unique Values: 2134
Sample Unique Values: [1.85 3.74 1.66 3.7  5.55]
Column: NoStoreys
Data Type: int64
Number of Unique Values: 10
Sample Unique Values: [2 1 3 4 5]
Column: CO2Rating
Data Type: float64
Number of Unique Values: 28796
Sample Unique Values: [ 38.46  53.12  53.19 109.31 192.95]
Column: MainSpaceHeatingFuel
Data Type: object
Number of Unique Values: 21
Sample Unique Values: ['Mains Gas                     ' 'Heating Oil                   '
 'Electricity                   ' 'Solid Multi-Fuel              '
 'Bottled LPG                   ']
Column: MainWaterHeatingFuel
Data Type: object
Number of Unique Values: 21
Sample Unique Values: ['Mains Gas                     ' 'Heating Oil                   '
 'Electricity                   ' 'Solid Multi-Fuel              '
 'Bottled LPG                   ']
Column: HSMainSystemEfficiency
Data Type: float64
Number of Unique Values: 31745
Sample Unique Values: [ 90.2  79.   85.5 100.   65. ]
Column: MultiDwellingMPRN
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO' 'YES']
Column: TGDLEdition
Data Type: int64
Number of Unique Values: 5
Sample Unique Values: [0 1 2 3 4]
Column: MPCDERValue
Data Type: float64
Number of Unique Values: 15368
Sample Unique Values: [ 36.79  47.37  41.95 106.7   71.78]
Column: HSEffAdjFactor
Data Type: float64
Number of Unique Values: 84
Sample Unique Values: [1.   0.95 1.02 1.01  nan]
Column: HSSupplHeatFraction
Data Type: float64
Number of Unique Values: 43
Sample Unique Values: [0.1  0.   0.2   nan 0.15]
Column: HSSupplSystemEff
Data Type: float64
Number of Unique Values: 1026
Sample Unique Values: [ 30.   0.  55. 100.  50.]
Column: WHMainSystemEff
Data Type: float64
Number of Unique Values: 4840
Sample Unique Values: [ 90.2  79.   85.5 100.   65. ]
Column: WHEffAdjFactor
Data Type: float64
Number of Unique Values: 68
Sample Unique Values: [1.   0.95 1.01  nan 1.02]
Column: SupplSHFuel
Data Type: float64
Number of Unique Values: 19
Sample Unique Values: [15.  1.  6. 28. 11.]
Column: SupplWHFuel
Data Type: float64
Number of Unique Values: 4
Sample Unique Values: [ 1. 28. nan 16. 18.]
Column: SHRenewableResources
Data Type: float64
Number of Unique Values: 6
Sample Unique Values: [ 2. nan  5.  3.  1.]
Column: WHRenewableResources
Data Type: float64
Number of Unique Values: 6
Sample Unique Values: [ 2. nan  5.  3.  1.]
Column: NoOfChimneys
Data Type: float64
Number of Unique Values: 14
Sample Unique Values: [1. 0. 3. 2. 5.]
Column: NoOfOpenFlues
Data Type: float64
Number of Unique Values: 12
Sample Unique Values: [0. 1. 2. 3. 5.]
Column: NoOfFansAndVents
Data Type: float64
Number of Unique Values: 32
Sample Unique Values: [5. 1. 3. 0. 2.]
Column: NoOfFluelessGasFires
Data Type: float64
Number of Unique Values: 7
Sample Unique Values: [0. 1. 2. 4. 3.]
Column: DraftLobby
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO' 'YES' nan]
Column: VentilationMethod
Data Type: object
Number of Unique Values: 6
Sample Unique Values: ['Natural vent.' 'Pos input vent.- loft' 'Bal.whole mech.vent heat recvr'
 'Whole house extract vent.' 'Pos input vent.- outside']
Column: FanPowerManuDeclaredValue
Data Type: float64
Number of Unique Values: 333
Sample Unique Values: [0.  2.  1.  0.5 0.9]
Column: HeatExchangerEff
Data Type: float64
Number of Unique Values: 165
Sample Unique Values: [ 0. 66. 85. 90. 95.]
Column: StructureType
Data Type: object
Number of Unique Values: 4
Sample Unique Values: ['Masonry                       ' 'Timber or Steel Frame         '
 'Insulated Conctete Form       ' 'Please select                 ' nan]
Column: SuspendedWoodenFloor
Data Type: object
Number of Unique Values: 3
Sample Unique Values: ['No                            ' 'Yes (Sealed)                  '
 'Yes (Unsealed)                ' nan]
Column: PercentageDraughtStripped
Data Type: float64
Number of Unique Values: 101
Sample Unique Values: [100.  92.  93.  73.  32.]
Column: NoOfSidesSheltered
Data Type: float64
Number of Unique Values: 5
Sample Unique Values: [2. 3. 0. 1. 4.]
Column: PermeabilityTest
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO' 'YES' nan]
Column: PermeabilityTestResult
Data Type: float64
Number of Unique Values: 898
Sample Unique Values: [0.   0.14 0.04 0.15 0.27]
Column: TempAdjustment
Data Type: float64
Number of Unique Values: 43
Sample Unique Values: [ 0.    0.6   0.3  -0.1  -0.15]
Column: HeatSystemControlCat
Data Type: int64
Number of Unique Values: 4
Sample Unique Values: [2 1 3 0]
Column: HeatSystemResponseCat
Data Type: int64
Number of Unique Values: 6
Sample Unique Values: [1 5 3 4 2]
Column: NoCentralHeatingPumps
Data Type: int64
Number of Unique Values: 17
Sample Unique Values: [1 0 2 3 7]
Column: CHBoilerThermostatControlled
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['YES' 'NO ']
Column: NoOilBoilerHeatingPumps
Data Type: int64
Number of Unique Values: 3
Sample Unique Values: [0 1 2]
Column: OBBoilerThermostatControlled
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: OBPumpInsideDwelling
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['YES' 'NO ']
Column: NoGasBoilerHeatingPumps
Data Type: int64
Number of Unique Values: 12
Sample Unique Values: [1 0 2 3 9]
Column: WarmAirHeatingSystem
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: UndergroundHeating
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: GroundFloorUValue
Data Type: float64
Number of Unique Values: 3012
Sample Unique Values: [0.   0.15 0.17 0.22 0.2 ]
Column: DistributionLosses
Data Type: float64
Number of Unique Values: 9234
Sample Unique Values: [288.33  493.513 290.656 250.117 360.019]
Column: StorageLosses
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['YES' 'NO ' nan]
Column: ManuLossFactorAvail
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES' nan]
Column: SolarHotWaterHeating
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES' nan]
Column: ElecImmersionInSummer
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES' nan]
Column: CombiBoiler
Data Type: object
Number of Unique Values: 4
Sample Unique Values: ['None                          ' 'Instantaneous, with keep-hot f'
 'Storage combi boiler store vol' 'Instantaneous, without keep-ho' nan]
Column: KeepHotFacility
Data Type: object
Number of Unique Values: 3
Sample Unique Values: ['None                          ' 'keep-hot facility, controlled ' nan
 'keep-hot facility, not control']
Column: WaterStorageVolume
Data Type: float64
Number of Unique Values: 689
Sample Unique Values: [ 95.  98. 108. 110. 119.]
Column: DeclaredLossFactor
Data Type: float64
Number of Unique Values: 536
Sample Unique Values: [0.   1.67  nan 2.51 1.74]
Column: TempFactorUnadj
Data Type: float64
Number of Unique Values: 57
Sample Unique Values: [0.6  0.   1.08  nan 0.83]
Column: TempFactorMultiplier
Data Type: float64
Number of Unique Values: 28
Sample Unique Values: [0.9  1.3  1.   0.   1.17]
Column: InsulationType
Data Type: object
Number of Unique Values: 3
Sample Unique Values: ['Factory Insulated             ' 'Loose Jacket                  ' nan
 'None                          ']
Column: InsulationThickness
Data Type: float64
Number of Unique Values: 172
Sample Unique Values: [25. 15. 50. 30. 35.]
Column: PrimaryCircuitLoss
Data Type: object
Number of Unique Values: 9
Sample Unique Values: ['Boiler with uninsulated primar' 'Electric immersion heater     '
 'Combi boiler                  ' 'Boiler with insulated primary '
 'Separate boiler and thermal st']
Column: CombiBoilerAddLoss
Data Type: float64
Number of Unique Values: 4881
Sample Unique Values: [  0. 600. 494.  nan 550.]
Column: ElecConsumpKeepHot
Data Type: float64
Number of Unique Values: 39
Sample Unique Values: [  0. 600.  nan 900.  45.]
Column: ApertureArea
Data Type: float64
Number of Unique Values: 1303
Sample Unique Values: [ nan 4.04 6.   4.   6.15]
Column: ZeroLossCollectorEff
Data Type: float64
Number of Unique Values: 203
Sample Unique Values: [ nan 0.78 0.75 0.6  0.8 ]
Column: CollectorHeatLossCoEff
Data Type: float64
Number of Unique Values: 472
Sample Unique Values: [ nan 3.98 6.   3.   4.05]
Column: AnnualSolarRadiation
Data Type: float64
Number of Unique Values: 290
Sample Unique Values: [  nan 1050. 1074. 1021. 1072.]
Column: OvershadingFactor
Data Type: float64
Number of Unique Values: 15
Sample Unique Values: [ nan 1.   0.8  0.1  0.65]
Column: CylinderStat
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: SolarStorageVolume
Data Type: float64
Number of Unique Values: 980
Sample Unique Values: [ nan 120. 171.  20. 125.]
Column: VolumeOfPreHeatStore
Data Type: float64
Number of Unique Values: 1
Sample Unique Values: [nan  0.]
Column: CombinedCylinder
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: ElectricityConsumption
Data Type: float64
Number of Unique Values: 2
Sample Unique Values: [nan 75.  0.]
Column: SWHPumpSolarPowered
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: ChargingBasisHeatConsumed
Data Type: object
Number of Unique Values: 2
Sample Unique Values: ['NO ' 'YES']
Column: gsdHSSupplHeatFraction
Data Type: float64
Number of Unique Values: 18
Sample Unique Values: [ nan  0.   0.1 10.  30. ]
Column: gsdHSSupplSystemEff
Data Type: float64
Number of Unique Values: 46
Sample Unique Values: [ nan   0.  30.  63. 100.]
Column: DistLossFactor
Data Type: float64
Number of Unique Values: 19
Sample Unique Values: [ nan 1.1  1.2  1.05 1.  ]
Column: CHPUnitHeatFraction
Data Type: float64
Number of Unique Values: 89
Sample Unique Values: [ nan 0.   0.1  0.3  0.75]
Column: CHPSystemType
Data Type: float64
Number of Unique Values: 4
Sample Unique Values: [nan  1.  2.  3.  0.]
Column: CHPElecEff
Data Type: float64
Number of Unique Values: 39
Sample Unique Values: [ nan 0.   0.3  0.26 0.32]
Column: CHPHeatEff
Data Type: float64
Number of Unique Values: 54
Sample Unique Values: [ nan 0.   0.83 0.63 0.48]
Column: CHPFuelType
Data Type: float64
Number of Unique Values: 8
Sample Unique Values: [nan  1.  2. 28. 13.]
Column: SupplHSFuelTypeID
Data Type: float64
Number of Unique Values: 15
Sample Unique Values: [nan  2.  1. 15.  5.]
Column: gsdSHRenewableResources
Data Type: object
Number of Unique Values: 6
Sample Unique Values: [nan 'No' ' ' 'Woodchip/Pellet' 'Solar']
Column: gsdWHRenewableResources
Data Type: object
Number of Unique Values: 6
Sample Unique Values: [nan 'No' ' ' 'Woodchip/Pellet' 'Solar']
Column: SolarHeatFraction
Data Type: float64
Number of Unique Values: 17
Sample Unique Values: [nan  0. 15. 23. 17.]
Column: DeliveredLightingEnergy
Data Type: float64
Number of Unique Values: 482065
Sample Unique Values: [ 716.946 1665.564  726.151  550.817  873.169]
Column: DeliveredEnergyPumpsFans
Data Type: float64
Number of Unique Values: 165042
Sample Unique Values: [175. 230.   0. 130. 360.]
Column: DeliveredEnergyMainWater
Data Type: float64
Number of Unique Values: 635571
Sample Unique Values: [3527.936 4829.788 4872.52  2167.449 3618.131]
Column: DeliveredEnergyMainSpace
Data Type: float64
Number of Unique Values: 886694
Sample Unique Values: [ 5356.588 17059.156  8605.743  8799.277 41825.082]
Column: PrimaryEnergyLighting
Data Type: float64
Number of Unique Values: 355476
Sample Unique Values: [1935.754 4497.023 1960.608 1487.206 2357.556]
Column: PrimaryEnergyPumpsFans
Data Type: float64
Number of Unique Values: 140984
Sample Unique Values: [472.5 621.    0.  351.  972. ]
Column: PrimaryEnergyMainWater
Data Type: float64
Number of Unique Values: 573312
Sample Unique Values: [3880.73  5312.767 5359.772 4508.294 3979.944]
Column: PrimaryEnergyMainSpace
Data Type: float64
Number of Unique Values: 870437
Sample Unique Values: [ 5892.247 18765.072  9466.317 18302.496 46007.59 ]
Column: CO2Lighting
Data Type: float64
Number of Unique Values: 434651
Sample Unique Values: [ 460.996 1070.958  466.915  354.175  561.448]
Column: CO2PumpsFans
Data Type: float64
Number of Unique Values: 157814
Sample Unique Values: [112.525 147.89    0.     83.59  231.48 ]
Column: CO2MainWater
Data Type: float64
Number of Unique Values: 622649
Sample Unique Values: [ 716.171 1313.702 1325.325  886.487 1335.09 ]
Column: CO2MainSpace
Data Type: float64
Number of Unique Values: 880047
Sample Unique Values: [ 1087.387  4640.09   2340.762  3598.904 15433.455]
Column: GroundFloorArea
Data Type: float64
Number of Unique Values: 35620
Sample Unique Values: [38.62 96.46 40.23 62.92 60.8 ]
Column: GroundFloorHeight
Data Type: float64
Number of Unique Values: 576
Sample Unique Values: [2.45 2.44 2.4  2.6  2.47]
Column: FirstFloorArea
Data Type: float64
Number of Unique Values: 23946
Sample Unique Values: [40.82 88.09 40.23  0.   51.7 ]
Column: FirstFloorHeight
Data Type: float64
Number of Unique Values: 530
Sample Unique Values: [2.65 2.71 2.64 0.   2.7 ]
Column: SecondFloorArea
Data Type: float64
Number of Unique Values: 9593
Sample Unique Values: [  0.    55.5   27.49   4.56 133.59]
Column: SecondFloorHeight
Data Type: float64
Number of Unique Values: 428
Sample Unique Values: [0.   2.41 2.7  2.6  3.67]
Column: ThirdFloorArea
Data Type: float64
Number of Unique Values: 5148
Sample Unique Values: [ 0.    9.16 44.16 12.82  2.79]
Column: ThirdFloorHeight
Data Type: float64
Number of Unique Values: 536
Sample Unique Values: [0.   2.61 2.4  2.38 2.73]
Column: ThermalBridgingFactor
Data Type: float64
Number of Unique Values: 150
Sample Unique Values: [0.15 0.08 0.11 0.1  0.09]
Column: ThermalMassCategory
Data Type: object
Number of Unique Values: 5
Sample Unique Values: ['Medium-high         ' 'Medium-low          ' 'Medium              '
 'High                ' 'Low                 ']
Column: PredominantRoofTypeArea
Data Type: float64
Number of Unique Values: 50990
Sample Unique Values: [40.82 83.39 40.23   nan 32.9 ]
Column: PredominantRoofType
Data Type: object
Number of Unique Values: 7
Sample Unique Values: ['Pitch Roof-Insul.on Ceiling   ' nan 'Pitch Roof-Insul.on Rafter    '
 'Room in Roof-Insul.on side    ' 'Flat Roof                     ']
Column: LowEnergyLightingPercent
Data Type: float64
Number of Unique Values: 139
Sample Unique Values: [ 0.  6. 28. 10. 50.]
Column: TotalDeliveredEnergy
Data Type: float64
Number of Unique Values: 389605
Sample Unique Values: [11565.967 29905.89  14434.414 14776.534 57472.425]
Column: DeliveredEnergySecondarySpace
Data Type: float64
Number of Unique Values: 618600
Sample Unique Values: [ 1789.497  4738.654     0.     3258.991 10069.001]
Column: DeliveredEnergySupplementaryWater
Data Type: float64
Number of Unique Values: 185819
Sample Unique Values: [   0.    1382.728  957.042  923.571 1641.09 ]
Column: LivingAreaPercent
Data Type: float64
Number of Unique Values: 276891
Sample Unique Values: [18.8066 13.0317 18.1581 58.2009 12.0889]
Column: CO2SecondarySpace
Data Type: float64
Number of Unique Values: 598379
Sample Unique Values: [ 660.324 1748.563    0.    1176.496 3715.461]
Column: CO2SupplementaryWater
Data Type: float64
Number of Unique Values: 184534
Sample Unique Values: [   0.     889.094  615.378  593.856 1055.221]
Column: PrimaryEnergySecondarySpace
Data Type: float64
Number of Unique Values: 531002
Sample Unique Values: [ 1968.447  5212.519     0.     3584.89  11075.901]
Column: PrimaryEnergySupplementaryWater
Data Type: float64
Number of Unique Values: 187624
Sample Unique Values: [   0.    3733.366 2584.013 2493.642 4430.943]
Column: HESSchemeUpgrade
Data Type: int64
Number of Unique Values: 2
Sample Unique Values: [0 1]
Column: RoomInRoofArea
Data Type: float64
Number of Unique Values: 11235
Sample Unique Values: [ 0.   50.41 51.38 68.06 35.89]
Column: PurposeOfRating
Data Type: object
Number of Unique Values: 7
Sample Unique Values: ['Unknown' 'New dwelling for owner occupat' 'Social housing letting'
 'Private Letting' 'Sale']
Column: DateOfAssessment
Data Type: object
Number of Unique Values: 6063
Sample Unique Values: ['Jun  9 2011 12:00AM' 'Jun  7 2011 12:00AM' 'Jun 13 2011 12:00AM'
 'Jun  8 2011 12:00AM' 'May 26 2011 12:00AM']
Column: FirstEnergyTypeId
Data Type: float64
Number of Unique Values: 3
Sample Unique Values: [ 1. nan  3.  2.]
Column: FirstEnergyType_Description
Data Type: object
Number of Unique Values: 3
Sample Unique Values: ['Renewable Thermal' nan 'Not Renewable' 'Renewable Electrical']
Column: FirstEnerProdComment
Data Type: object
Number of Unique Values: 43093
Sample Unique Values: [nan '1583' 'Solar Space Heating' 'Solar - Space Heating' 'solar panels']
Column: FirstEnerProdDelivered
Data Type: float64
Number of Unique Values: 18736
Sample Unique Values: [   0.   nan 1583.   88.  976.]
Column: FirstPartLTotalContribution
Data Type: float64
Number of Unique Values: 15300
Sample Unique Values: [   0.   nan   69. 1617. 1960.]
Column: FirstEnerProdConvFactor
Data Type: float64
Number of Unique Values: 38
Sample Unique Values: [0.  nan 1.1 2.7 1. ]
Column: FirstEnerProdCO2EmissionFactor
Data Type: float64
Number of Unique Values: 73
Sample Unique Values: [0.      nan 0.272 0.025 0.643]
Column: FirstEnerConsumedComment
Data Type: object
Number of Unique Values: 170
Sample Unique Values: [nan '0' 'NONE' 'Zero' 'electricity']
Column: FirstEnerConsumedDelivered
Data Type: float64
Number of Unique Values: 52
Sample Unique Values: [ 0. nan  2.  4. 75.]
Column: FirstEnerConsumedConvFactor
Data Type: float64
Number of Unique Values: 13
Sample Unique Values: [0.    nan 2.7  1.1  2.45]
Column: FirstEnerConsumedCO2EmissionFactor
Data Type: float64
Number of Unique Values: 20
Sample Unique Values: [0.      nan 0.643 0.203 0.272]
Column: SecondEnergyTypeId
Data Type: float64
Number of Unique Values: 3

In [13]:
inspect_column(df, 'DateOfAssessment')

Data type of 'DateOfAssessment': object

Unique values in 'DateOfAssessment':
['Jun  9 2011 12:00AM' 'Jun  7 2011 12:00AM' 'Jun 13 2011 12:00AM' ...
 'Jun  7 2007 12:00AM' 'Jan 22 2000 12:00AM' 'Dec 25 2016 12:00AM']

Percentage distribution of unique values in 'DateOfAssessment':
DateOfAssessment
Apr 25 2024 12:00AM    0.064659
Oct 15 2024 12:00AM    0.056648
Aug 13 2024 12:00AM    0.055504
Sep  4 2024 12:00AM    0.055122
Sep 20 2023 12:00AM    0.054073
                         ...
Aug  3 2007 12:00AM    0.000095
Jul  9 2007 12:00AM    0.000095
Sep 19 2007 12:00AM    0.000095
Jun 16 2008 12:00AM    0.000095
Dec 25 2016 12:00AM    0.000095
Name: proportion, Length: 6063, dtype: float64

# Convert `DateOfAssessment` to Datetime Format

- Converts the `DateOfAssessment` column to a standardized `datetime` format.
- Uses the specified format (`'%b %d %Y %I:%M%p'`) to correctly parse the date strings.
- Handles invalid formats by converting them to `NaT` (Not a Time) for further handling.
- Ensures the column is in a consistent format for analysis and SQL ingestion.

In [14]:
# Convert DateOfAssessment to datetime format
df['DateOfAssessment'] = pd.to_datetime(df['DateOfAssessment'], errors='coerce', format='%b %d %Y %I:%M%p')

In [15]:
inspect_column(df, 'DateOfAssessment')

Data type of 'DateOfAssessment': datetime64[ns]

Unique values in 'DateOfAssessment':
<DatetimeArray>
['2011-06-09 00:00:00', '2011-06-07 00:00:00', '2011-06-13 00:00:00',
 '2011-06-08 00:00:00', '2011-05-26 00:00:00', '2010-11-08 00:00:00',
 '2011-06-10 00:00:00', '2011-06-03 00:00:00', '2011-06-11 00:00:00',
 '2011-06-01 00:00:00',
 ...
 '2008-05-26 00:00:00', '2009-12-25 00:00:00', '2006-07-20 00:00:00',
 '2007-09-21 00:00:00', '2010-12-26 00:00:00', '2008-06-06 00:00:00',
 '2010-12-25 00:00:00', '2007-06-07 00:00:00', '2000-01-22 00:00:00',
 '2016-12-25 00:00:00']
Length: 6063, dtype: datetime64[ns]

Percentage distribution of unique values in 'DateOfAssessment':
DateOfAssessment
2024-04-25    0.064659
2024-10-15    0.056648
2024-08-13    0.055504
2024-09-04    0.055122
2023-09-20    0.054073
                ...
2008-02-07    0.000095
2008-06-02    0.000095
2009-12-26    0.000095
2008-03-26    0.000095
2016-12-25    0.000095
Name: proportion, Length: 6062, dtype: float64

# Inspect Object (Text) Columns in the Dataset

- **Function Call**: `inspect_object_columns(df)`

In [16]:
inspect_object_columns(df)

Total object columns: 53

Column: CountyName
Data Type: object
Unique Values Count: 55
Null Values: 0
Five Sample Unique Values: ['Co. Louth' 'Co. Cork' 'Dublin 17' 'Dublin 6' 'Co. Galway']

Column: DwellingTypeDescr
Data Type: object
Unique Values Count: 11
Null Values: 0
Five Sample Unique Values: ['Mid-terrace house' 'Detached house' 'Ground-floor apartment'
 'Semi-detached house' 'House']

Column: TypeofRating
Data Type: object
Unique Values Count: 3
Null Values: 0
Five Sample Unique Values: ['Existing       ' 'Provisional    ' 'Final          ']

Column: EnergyRating
Data Type: object
Unique Values Count: 15
Null Values: 0
Five Sample Unique Values: ['C2' 'C3' 'F ' 'G ' 'D1']

Column: MainSpaceHeatingFuel
Data Type: object
Unique Values Count: 21
Null Values: 15958
Five Sample Unique Values: ['Mains Gas                     ' 'Heating Oil                   '
 'Electricity                   ' 'Solid Multi-Fuel              '
 'Bottled LPG                   ']

Column: MainWaterHeatingFuel
Data Type: object
Unique Values Count: 21
Null Values: 15958
Five Sample Unique Values: ['Mains Gas                     ' 'Heating Oil                   '
 'Electricity                   ' 'Solid Multi-Fuel              '
 'Bottled LPG                   ']

Column: MultiDwellingMPRN
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO' 'YES']

Column: DraftLobby
Data Type: object
Unique Values Count: 2
Null Values: 10536
Five Sample Unique Values: ['NO' 'YES' nan]

Column: VentilationMethod
Data Type: object
Unique Values Count: 6
Null Values: 10536
Five Sample Unique Values: ['Natural vent.' 'Pos input vent.- loft' 'Bal.whole mech.vent heat recvr'
 'Whole house extract vent.' 'Pos input vent.- outside']

Column: StructureType
Data Type: object
Unique Values Count: 4
Null Values: 10536
Five Sample Unique Values: ['Masonry                       ' 'Timber or Steel Frame         '
 'Insulated Conctete Form       ' 'Please select                 ' nan]

Column: SuspendedWoodenFloor
Data Type: object
Unique Values Count: 3
Null Values: 10536
Five Sample Unique Values: ['No                            ' 'Yes (Sealed)                  '
 'Yes (Unsealed)                ' nan]

Column: PermeabilityTest
Data Type: object
Unique Values Count: 2
Null Values: 10536
Five Sample Unique Values: ['NO' 'YES' nan]

Column: CHBoilerThermostatControlled
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['YES' 'NO ']

Column: OBBoilerThermostatControlled
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: OBPumpInsideDwelling
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['YES' 'NO ']

Column: WarmAirHeatingSystem
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: UndergroundHeating
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: StorageLosses
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['YES' 'NO ' nan]

Column: ManuLossFactorAvail
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['NO ' 'YES' nan]

Column: SolarHotWaterHeating
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['NO ' 'YES' nan]

Column: ElecImmersionInSummer
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['NO ' 'YES' nan]

Column: CombiBoiler
Data Type: object
Unique Values Count: 4
Null Values: 393769
Five Sample Unique Values: ['None                          ' 'Instantaneous, with keep-hot f'
 'Storage combi boiler store vol' 'Instantaneous, without keep-ho' nan]

Column: KeepHotFacility
Data Type: object
Unique Values Count: 3
Null Values: 393769
Five Sample Unique Values: ['None                          ' 'keep-hot facility, controlled ' nan
 'keep-hot facility, not control']

Column: InsulationType
Data Type: object
Unique Values Count: 3
Null Values: 393769
Five Sample Unique Values: ['Factory Insulated             ' 'Loose Jacket                  ' nan
 'None                          ']

Column: PrimaryCircuitLoss
Data Type: object
Unique Values Count: 9
Null Values: 393769
Five Sample Unique Values: ['Boiler with uninsulated primar' 'Electric immersion heater     '
 'Combi boiler                  ' 'Boiler with insulated primary '
 'Separate boiler and thermal st']

Column: CylinderStat
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: CombinedCylinder
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: SWHPumpSolarPowered
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: ChargingBasisHeatConsumed
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['NO ' 'YES']

Column: gsdSHRenewableResources
Data Type: object
Unique Values Count: 6
Null Values: 1041806
Five Sample Unique Values: [nan 'No' ' ' 'Woodchip/Pellet' 'Solar']

Column: gsdWHRenewableResources
Data Type: object
Unique Values Count: 6
Null Values: 1041806
Five Sample Unique Values: [nan 'No' ' ' 'Woodchip/Pellet' 'Solar']

Column: ThermalMassCategory
Data Type: object
Unique Values Count: 5
Null Values: 0
Five Sample Unique Values: ['Medium-high         ' 'Medium-low          ' 'Medium              '
 'High                ' 'Low                 ']

Column: PredominantRoofType
Data Type: object
Unique Values Count: 7
Null Values: 105097
Five Sample Unique Values: ['Pitch Roof-Insul.on Ceiling   ' nan 'Pitch Roof-Insul.on Rafter    '
 'Room in Roof-Insul.on side    ' 'Flat Roof                     ']

Column: PurposeOfRating
Data Type: object
Unique Values Count: 7
Null Values: 0
Five Sample Unique Values: ['Unknown' 'New dwelling for owner occupat' 'Social housing letting'
 'Private Letting' 'Sale']

Column: FirstEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 15959
Five Sample Unique Values: ['Renewable Thermal' nan 'Not Renewable' 'Renewable Electrical']

Column: FirstEnerProdComment
Data Type: object
Unique Values Count: 43093
Null Values: 933011
Five Sample Unique Values: [nan '1583' 'Solar Space Heating' 'Solar - Space Heating' 'solar panels']

Column: FirstEnerConsumedComment
Data Type: object
Unique Values Count: 170
Null Values: 1046668
Five Sample Unique Values: [nan '0' 'NONE' 'Zero' 'electricity']

Column: SecondEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 16806
Five Sample Unique Values: ['Renewable Thermal' nan 'Not Renewable' 'Renewable Electrical']

Column: SecondEnerProdComment
Data Type: object
Unique Values Count: 3023
Null Values: 1043377
Five Sample Unique Values: [nan '0' 'No Supplementary Water Heating' 'Heat Pump' 'Heat Recovery']

Column: SecondEnerConsumedComment
Data Type: object
Unique Values Count: 33
Null Values: 1048457
Five Sample Unique Values: [nan '0' 'none' '613' '5 panels 1206']

Column: ThirdEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 16806
Five Sample Unique Values: ['Renewable Thermal' nan 'Not Renewable' 'Renewable Electrical']

Column: ThirdEnerProdComment
Data Type: object
Unique Values Count: 271
Null Values: 1048119
Five Sample Unique Values: [nan '0' 'none' 'h' 'm']

Column: ThirdEnerConsumedComment
Data Type: object
Unique Values Count: 7
Null Values: 1048535
Five Sample Unique Values: [nan '0' 'none' '1592  6 panels' '1592  6 panels 1327 for 5 pane']

Column: FirstWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 204715
Five Sample Unique Values: ['300mm Filled Cavity' '300mm Cavity' 'Concrete Hollow Block' 'Stone'
 'Solid Mass Concrete']

Column: FirstWallDescription
Data Type: object
Unique Values Count: 157769
Null Values: 378582
Five Sample Unique Values: ['Side Wall All Exposed' 'Walls drylined with 40mm aerob' 'Back'
 'bonded bead pumped into extern' nan]

Column: FirstWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 997
Five Sample Unique Values: ['No' 'Yes' nan]

Column: SecondWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 688515
Five Sample Unique Values: ['300mm Filled Cavity' '300mm Cavity' 'Concrete Hollow Block'
 '225mm Solid brick' 'Stone']

Column: SecondWallDescription
Data Type: object
Unique Values Count: 130767
Null Values: 671509
Five Sample Unique Values: ['Rear Elev' 'Area of wall not drylined - 10' 'Front' nan
 'kit ext hblock w/70mm pir']

Column: SecondWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 548989
Five Sample Unique Values: ['No' 'Yes' nan]

Column: ThirdWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 903011
Five Sample Unique Values: ['300mm Filled Cavity' nan 'Concrete Hollow Block' '300mm Cavity'
 '225mm Solid brick']

Column: ThirdWallDescription
Data Type: object
Unique Values Count: 74807
Null Values: 889189
Five Sample Unique Values: ['Front Elev' nan 'gable wall w25mm pir  btw batt' 'GF to porch'
 'Back Wall']

Column: ThirdWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 862503
Five Sample Unique Values: ['No' nan 'Yes']

Column: SA_Code
Data Type: object
Unique Values Count: 18629
Null Values: 234392
Five Sample Unique Values: ['147019047' '47263004' '268120005' '267075006' nan]

# Standardize Object (Text) Columns

1. **Purpose**:
   - Remove trailing spaces and convert text to lowercase to ensure consistency across categorical values.

2. **What This Step Does**:
   - Iterates through all columns with `object` data type.
   - Removes any leading or trailing spaces using `str.strip()`.
   - Converts all text to lowercase using `str.lower()`.

3. **Utility**:
   - Eliminates discrepancies caused by capitalization or extra spaces (e.g., "Electricity" vs. "electricity ").
   - Standardizes text data for easier analysis and processing.

4. **Output**:
   - Confirms the operation is completed with a simple "Done" message.

In [17]:
# Remove trailing spaces and convert text to lowercase
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip().str.lower()

print("Done")

Done

# Replace Empty Strings with NaN

- Replaces empty strings (`""`) in object columns with `NaN` for consistent handling of missing values.
- Ensures null values are standardized for further processing.

In [18]:
# Replace empty strings with NaN
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].replace({"": pd.NA})


print("Replaced with NaN!")

Replaced with NaN!

# Reinspect Object Columns

- Re-run `inspect_object_columns(df)` to verify changes after standardizing text and replacing empty strings with `NaN`.
- Ensures columns are clean and consistent for further processing.

In [19]:
inspect_object_columns(df)

Total object columns: 53

Column: CountyName
Data Type: object
Unique Values Count: 55
Null Values: 0
Five Sample Unique Values: ['co. louth' 'co. cork' 'dublin 17' 'dublin 6' 'co. galway']

Column: DwellingTypeDescr
Data Type: object
Unique Values Count: 11
Null Values: 0
Five Sample Unique Values: ['mid-terrace house' 'detached house' 'ground-floor apartment'
 'semi-detached house' 'house']

Column: TypeofRating
Data Type: object
Unique Values Count: 3
Null Values: 0
Five Sample Unique Values: ['existing' 'provisional' 'final']

Column: EnergyRating
Data Type: object
Unique Values Count: 15
Null Values: 0
Five Sample Unique Values: ['c2' 'c3' 'f' 'g' 'd1']

Column: MainSpaceHeatingFuel
Data Type: object
Unique Values Count: 21
Null Values: 15958
Five Sample Unique Values: ['mains gas' 'heating oil' 'electricity' 'solid multi-fuel' 'bottled lpg']

Column: MainWaterHeatingFuel
Data Type: object
Unique Values Count: 21
Null Values: 15958
Five Sample Unique Values: ['mains gas' 'heating oil' 'electricity' 'solid multi-fuel' 'bottled lpg']

Column: MultiDwellingMPRN
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: DraftLobby
Data Type: object
Unique Values Count: 2
Null Values: 10536
Five Sample Unique Values: ['no' 'yes' nan]

Column: VentilationMethod
Data Type: object
Unique Values Count: 6
Null Values: 10536
Five Sample Unique Values: ['natural vent.' 'pos input vent.- loft' 'bal.whole mech.vent heat recvr'
 'whole house extract vent.' 'pos input vent.- outside']

Column: StructureType
Data Type: object
Unique Values Count: 4
Null Values: 10536
Five Sample Unique Values: ['masonry' 'timber or steel frame' 'insulated conctete form'
 'please select' nan]

Column: SuspendedWoodenFloor
Data Type: object
Unique Values Count: 3
Null Values: 10536
Five Sample Unique Values: ['no' 'yes (sealed)' 'yes (unsealed)' nan]

Column: PermeabilityTest
Data Type: object
Unique Values Count: 2
Null Values: 10536
Five Sample Unique Values: ['no' 'yes' nan]

Column: CHBoilerThermostatControlled
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['yes' 'no']

Column: OBBoilerThermostatControlled
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: OBPumpInsideDwelling
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['yes' 'no']

Column: WarmAirHeatingSystem
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: UndergroundHeating
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: StorageLosses
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['yes' 'no' nan]

Column: ManuLossFactorAvail
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['no' 'yes' nan]

Column: SolarHotWaterHeating
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['no' 'yes' nan]

Column: ElecImmersionInSummer
Data Type: object
Unique Values Count: 2
Null Values: 393769
Five Sample Unique Values: ['no' 'yes' nan]

Column: CombiBoiler
Data Type: object
Unique Values Count: 4
Null Values: 393769
Five Sample Unique Values: ['none' 'instantaneous, with keep-hot f' 'storage combi boiler store vol'
 'instantaneous, without keep-ho' nan]

Column: KeepHotFacility
Data Type: object
Unique Values Count: 3
Null Values: 393769
Five Sample Unique Values: ['none' 'keep-hot facility, controlled' nan
 'keep-hot facility, not control']

Column: InsulationType
Data Type: object
Unique Values Count: 3
Null Values: 393769
Five Sample Unique Values: ['factory insulated' 'loose jacket' nan 'none']

Column: PrimaryCircuitLoss
Data Type: object
Unique Values Count: 9
Null Values: 393769
Five Sample Unique Values: ['boiler with uninsulated primar' 'electric immersion heater'
 'combi boiler' 'boiler with insulated primary'
 'separate boiler and thermal st']

Column: CylinderStat
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: CombinedCylinder
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: SWHPumpSolarPowered
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: ChargingBasisHeatConsumed
Data Type: object
Unique Values Count: 2
Null Values: 0
Five Sample Unique Values: ['no' 'yes']

Column: gsdSHRenewableResources
Data Type: object
Unique Values Count: 5
Null Values: 1042425
Five Sample Unique Values: [nan 'no' <NA> 'woodchip/pellet' 'solar']

Column: gsdWHRenewableResources
Data Type: object
Unique Values Count: 5
Null Values: 1042425
Five Sample Unique Values: [nan 'no' <NA> 'woodchip/pellet' 'solar']

Column: ThermalMassCategory
Data Type: object
Unique Values Count: 5
Null Values: 0
Five Sample Unique Values: ['medium-high' 'medium-low' 'medium' 'high' 'low']

Column: PredominantRoofType
Data Type: object
Unique Values Count: 6
Null Values: 106833
Five Sample Unique Values: ['pitch roof-insul.on ceiling' nan 'pitch roof-insul.on rafter'
 'room in roof-insul.on side' 'flat roof']

Column: PurposeOfRating
Data Type: object
Unique Values Count: 7
Null Values: 0
Five Sample Unique Values: ['unknown' 'new dwelling for owner occupat' 'social housing letting'
 'private letting' 'sale']

Column: FirstEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 15959
Five Sample Unique Values: ['renewable thermal' nan 'not renewable' 'renewable electrical']

Column: FirstEnerProdComment
Data Type: object
Unique Values Count: 41477
Null Values: 933022
Five Sample Unique Values: [nan '1583' 'solar space heating' 'solar - space heating' 'solar panels']

Column: FirstEnerConsumedComment
Data Type: object
Unique Values Count: 154
Null Values: 1046669
Five Sample Unique Values: [nan '0' 'none' 'zero' 'electricity']

Column: SecondEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 16806
Five Sample Unique Values: ['renewable thermal' nan 'not renewable' 'renewable electrical']

Column: SecondEnerProdComment
Data Type: object
Unique Values Count: 2952
Null Values: 1043377
Five Sample Unique Values: [nan '0' 'no supplementary water heating' 'heat pump' 'heat recovery']

Column: SecondEnerConsumedComment
Data Type: object
Unique Values Count: 32
Null Values: 1048457
Five Sample Unique Values: [nan '0' 'none' '613' '5 panels 1206']

Column: ThirdEnergyType_Description
Data Type: object
Unique Values Count: 3
Null Values: 16806
Five Sample Unique Values: ['renewable thermal' nan 'not renewable' 'renewable electrical']

Column: ThirdEnerProdComment
Data Type: object
Unique Values Count: 263
Null Values: 1048119
Five Sample Unique Values: [nan '0' 'none' 'h' 'm']

Column: ThirdEnerConsumedComment
Data Type: object
Unique Values Count: 7
Null Values: 1048535
Five Sample Unique Values: [nan '0' 'none' '1592  6 panels' '1592  6 panels 1327 for 5 pane']

Column: FirstWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 204715
Five Sample Unique Values: ['300mm filled cavity' '300mm cavity' 'concrete hollow block' 'stone'
 'solid mass concrete']

Column: FirstWallDescription
Data Type: object
Unique Values Count: 138627
Null Values: 378737
Five Sample Unique Values: ['side wall all exposed' 'walls drylined with 40mm aerob' 'back'
 'bonded bead pumped into extern' nan]

Column: FirstWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 997
Five Sample Unique Values: ['no' 'yes' nan]

Column: SecondWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 688515
Five Sample Unique Values: ['300mm filled cavity' '300mm cavity' 'concrete hollow block'
 '225mm solid brick' 'stone']

Column: SecondWallDescription
Data Type: object
Unique Values Count: 115014
Null Values: 671522
Five Sample Unique Values: ['rear elev' 'area of wall not drylined - 10' 'front' nan
 'kit ext hblock w/70mm pir']

Column: SecondWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 548989
Five Sample Unique Values: ['no' 'yes' nan]

Column: ThirdWallType_Description
Data Type: object
Unique Values Count: 9
Null Values: 903011
Five Sample Unique Values: ['300mm filled cavity' nan 'concrete hollow block' '300mm cavity'
 '225mm solid brick']

Column: ThirdWallDescription
Data Type: object
Unique Values Count: 66895
Null Values: 889194
Five Sample Unique Values: ['front elev' nan 'gable wall w25mm pir  btw batt' 'gf to porch'
 'back wall']

Column: ThirdWallIsSemiExposed
Data Type: object
Unique Values Count: 2
Null Values: 862503
Five Sample Unique Values: ['no' nan 'yes']

Column: SA_Code
Data Type: object
Unique Values Count: 18629
Null Values: 234392
Five Sample Unique Values: ['147019047' '47263004' '268120005' '267075006' nan]

# Inspect Boolean Columns

- Use `inspect_boolean_columns(df)` to identify and analyze all boolean columns before conversion.
- Displays the number of boolean columns, their null values, and the distribution of `True` and `False`.

In [20]:
inspect_boolean_columns(df)

Total boolean columns: 0

# Identify Yes/No Columns

- Searches for columns containing only `'yes'` and `'no'` values (excluding nulls).
- Outputs a list of such columns for conversion to boolean type.

In [21]:
# Identifing Yes and No columns
yes_no_columns = [col for col in df.columns if df[col].dropna().isin(['yes', 'no']).all()]
print(f"Identified Yes/No Columns: {yes_no_columns}")

Identified Yes/No Columns: ['MultiDwellingMPRN', 'DraftLobby', 'PermeabilityTest', 'CHBoilerThermostatControlled', 'OBBoilerThermostatControlled', 'OBPumpInsideDwelling', 'WarmAirHeatingSystem', 'UndergroundHeating', 'StorageLosses', 'ManuLossFactorAvail', 'SolarHotWaterHeating', 'ElecImmersionInSummer', 'CylinderStat', 'CombinedCylinder', 'SWHPumpSolarPowered', 'ChargingBasisHeatConsumed', 'FirstWallIsSemiExposed', 'SecondWallIsSemiExposed', 'ThirdWallIsSemiExposed']

# Convert Yes/No Columns to Boolean

- Replaces `'yes'` with `True` and `'no'` with `False` in identified columns.
- Converts the columns to `boolean` data type for better compatibility and analysis.

In [22]:
# Converted Yes/No to Boolean (True/False)
for col in yes_no_columns:
    df[col] = df[col].replace({'yes': True, 'no': False}).astype('boolean')

print("Done")

/tmp/ipykernel_110512/3819000171.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({'yes': True, 'no': False}).astype('boolean')

Done

# Reinspect Boolean Columns

- Run `inspect_boolean_columns(df)` to verify changes after converting Yes/No columns to boolean.
- Checks the count, null values, and distribution of `True` and `False` values.

In [23]:
print(inspect_boolean_columns(df))

Total boolean columns: 19

Column: MultiDwellingMPRN
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 7073
False Count: 1041502

Column: DraftLobby
Data Type: boolean
Null Values: 10536
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 186902
False Count: 851137

Column: PermeabilityTest
Data Type: boolean
Null Values: 10536
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 160569
False Count: 877470

Column: CHBoilerThermostatControlled
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[True, False]
Length: 2, dtype: boolean
True Count: 482506
False Count: 566069

Column: OBBoilerThermostatControlled
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 98933
False Count: 949642

Column: OBPumpInsideDwelling
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[True, False]
Length: 2, dtype: boolean
True Count: 76612
False Count: 971963

Column: WarmAirHeatingSystem
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 2677
False Count: 1045898

Column: UndergroundHeating
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 53312
False Count: 995263

Column: StorageLosses
Data Type: boolean
Null Values: 393769
Unique Values: <BooleanArray>
[True, False, <NA>]
Length: 3, dtype: boolean
True Count: 619292
False Count: 35514

Column: ManuLossFactorAvail
Data Type: boolean
Null Values: 393769
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 82716
False Count: 572090

Column: SolarHotWaterHeating
Data Type: boolean
Null Values: 393769
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 34980
False Count: 619826

Column: ElecImmersionInSummer
Data Type: boolean
Null Values: 393769
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 201325
False Count: 453481

Column: CylinderStat
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 38330
False Count: 1010245

Column: CombinedCylinder
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 43454
False Count: 1005121

Column: SWHPumpSolarPowered
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 1756
False Count: 1046819

Column: ChargingBasisHeatConsumed
Data Type: boolean
Null Values: 0
Unique Values: <BooleanArray>
[False, True]
Length: 2, dtype: boolean
True Count: 11685
False Count: 1036890

Column: FirstWallIsSemiExposed
Data Type: boolean
Null Values: 997
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 13068
False Count: 1034510

Column: SecondWallIsSemiExposed
Data Type: boolean
Null Values: 548989
Unique Values: <BooleanArray>
[False, True, <NA>]
Length: 3, dtype: boolean
True Count: 122224
False Count: 377362

Column: ThirdWallIsSemiExposed
Data Type: boolean
Null Values: 862503
Unique Values: <BooleanArray>
[False, <NA>, True]
Length: 3, dtype: boolean
True Count: 52120
False Count: 133952
None

# Fill Missing Values in Categorical Columns

- Replaces `NaN` values in categorical (object) columns with `"Unknown"`.
- Ensures no null values remain for SQL compatibility and downstream analysis.

In [25]:
# Filling NaN values in categorical columns with "Unknown"
for col in df.select_dtypes(include=['object']).columns:
 df[col] = df[col].fillna("Unknown")

print("Replaced with 'Unknown'!")

Replaced with 'Unknown'!

# Verify Remaining NaN Values in Categorical Columns

- Checks if any `NaN` values remain in object (categorical) columns after imputation.
- Displays a count of null values for each categorical column.
- Previews a sample of the updated categorical columns to confirm successful replacement.

In [26]:
# Any NaN values remaining in object columns
print("Remaining NaN in categorical columns:")
print(df.select_dtypes(include=['object']).isna().sum())

# Inspect a sample of categorical columns to confirm
print("Sample of categorical columns after filling NaN:")
print(df.select_dtypes(include=['object']).head())

Remaining NaN in categorical columns:
CountyName                      0
DwellingTypeDescr               0
TypeofRating                    0
EnergyRating                    0
MainSpaceHeatingFuel            0
MainWaterHeatingFuel            0
VentilationMethod               0
StructureType                   0
SuspendedWoodenFloor            0
CombiBoiler                     0
KeepHotFacility                 0
InsulationType                  0
PrimaryCircuitLoss              0
gsdSHRenewableResources         0
gsdWHRenewableResources         0
ThermalMassCategory             0
PredominantRoofType             0
PurposeOfRating                 0
FirstEnergyType_Description     0
FirstEnerProdComment            0
FirstEnerConsumedComment        0
SecondEnergyType_Description    0
SecondEnerProdComment           0
SecondEnerConsumedComment       0
ThirdEnergyType_Description     0
ThirdEnerProdComment            0
ThirdEnerConsumedComment        0
FirstWallType_Description       0
FirstWallDescription            0
SecondWallType_Description      0
SecondWallDescription           0
ThirdWallType_Description       0
ThirdWallDescription            0
SA_Code                         0
dtype: int64
Sample of categorical columns after filling NaN:
   CountyName       DwellingTypeDescr TypeofRating EnergyRating  \
0   co. louth       mid-terrace house     existing           c2
1    co. cork          detached house     existing           c3
2   dublin 17       mid-terrace house     existing           c3
3    dublin 6  ground-floor apartment     existing            f
4  co. galway          detached house     existing            g

  MainSpaceHeatingFuel MainWaterHeatingFuel VentilationMethod StructureType  \
0            mains gas            mains gas     natural vent.       masonry
1          heating oil          heating oil     natural vent.       masonry
2          heating oil          heating oil     natural vent.       masonry
3          electricity          electricity     natural vent.       masonry
4     solid multi-fuel     solid multi-fuel     natural vent.       masonry

  SuspendedWoodenFloor CombiBoiler  ... ThirdEnergyType_Description  \
0                   no        none  ...           renewable thermal
1                   no        none  ...           renewable thermal
2                   no        none  ...           renewable thermal
3         yes (sealed)        none  ...           renewable thermal
4                   no        none  ...           renewable thermal

  ThirdEnerProdComment ThirdEnerConsumedComment FirstWallType_Description  \
0              Unknown                  Unknown       300mm filled cavity
1              Unknown                  Unknown              300mm cavity
2              Unknown                  Unknown     concrete hollow block
3              Unknown                  Unknown              300mm cavity
4              Unknown                  Unknown                     stone

             FirstWallDescription SecondWallType_Description  \
0           side wall all exposed        300mm filled cavity
1  walls drylined with 40mm aerob               300mm cavity
2                            back      concrete hollow block
3  bonded bead pumped into extern          225mm solid brick
4                         Unknown                      stone

            SecondWallDescription ThirdWallType_Description  \
0                       rear elev       300mm filled cavity
1  area of wall not drylined - 10                   Unknown
2                           front                   Unknown
3                         Unknown                   Unknown
4                         Unknown                   Unknown

  ThirdWallDescription    SA_Code
0           front elev  147019047
1              Unknown   47263004
2              Unknown  268120005
3              Unknown  267075006
4              Unknown    Unknown

[5 rows x 34 columns]

# Inspect Missing Values in Numerical Columns

- Identifies numerical columns with missing values.
- Displaying:
  - Count of missing values in each column.
  - Percentage of missing values relative to the column size.
- Helps decide on handling strategies such as imputation or retention for SQL compatibility.

In [27]:
# Inspect missing values in numerical columns
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
missing_values = df[numerical_columns].isna().sum()
missing_percentage = df[numerical_columns].isna().mean() * 100

print("Missing values in numerical columns:")
for col, count, perc in zip(numerical_columns, missing_values, missing_percentage):
    print(f"{col}: {count} missing ({perc:.2f}%)")

Missing values in numerical columns:
Year_of_Construction: 0 missing (0.00%)
BerRating: 0 missing (0.00%)
GroundFloorArea(sq m): 0 missing (0.00%)
UValueWall: 0 missing (0.00%)
UValueRoof: 0 missing (0.00%)
UValueFloor: 0 missing (0.00%)
UValueWindow: 0 missing (0.00%)
UvalueDoor: 0 missing (0.00%)
WallArea: 0 missing (0.00%)
RoofArea: 0 missing (0.00%)
FloorArea: 0 missing (0.00%)
WindowArea: 0 missing (0.00%)
DoorArea: 0 missing (0.00%)
NoStoreys: 0 missing (0.00%)
CO2Rating: 0 missing (0.00%)
HSMainSystemEfficiency: 15958 missing (1.52%)
TGDLEdition: 0 missing (0.00%)
MPCDERValue: 0 missing (0.00%)
HSEffAdjFactor: 15958 missing (1.52%)
HSSupplHeatFraction: 15958 missing (1.52%)
HSSupplSystemEff: 15958 missing (1.52%)
WHMainSystemEff: 15958 missing (1.52%)
WHEffAdjFactor: 15958 missing (1.52%)
SupplSHFuel: 15958 missing (1.52%)
SupplWHFuel: 15958 missing (1.52%)
SHRenewableResources: 15958 missing (1.52%)
WHRenewableResources: 15958 missing (1.52%)
NoOfChimneys: 10536 missing (1.00%)
NoOfOpenFlues: 10536 missing (1.00%)
NoOfFansAndVents: 10536 missing (1.00%)
NoOfFluelessGasFires: 24816 missing (2.37%)
FanPowerManuDeclaredValue: 10536 missing (1.00%)
HeatExchangerEff: 10536 missing (1.00%)
PercentageDraughtStripped: 10536 missing (1.00%)
NoOfSidesSheltered: 10536 missing (1.00%)
PermeabilityTestResult: 10536 missing (1.00%)
TempAdjustment: 1 missing (0.00%)
HeatSystemControlCat: 0 missing (0.00%)
HeatSystemResponseCat: 0 missing (0.00%)
NoCentralHeatingPumps: 0 missing (0.00%)
NoOilBoilerHeatingPumps: 0 missing (0.00%)
NoGasBoilerHeatingPumps: 0 missing (0.00%)
GroundFloorUValue: 0 missing (0.00%)
DistributionLosses: 0 missing (0.00%)
WaterStorageVolume: 393769 missing (37.55%)
DeclaredLossFactor: 393769 missing (37.55%)
TempFactorUnadj: 393769 missing (37.55%)
TempFactorMultiplier: 393769 missing (37.55%)
InsulationThickness: 393769 missing (37.55%)
CombiBoilerAddLoss: 393769 missing (37.55%)
ElecConsumpKeepHot: 393769 missing (37.55%)
ApertureArea: 999878 missing (95.36%)
ZeroLossCollectorEff: 999878 missing (95.36%)
CollectorHeatLossCoEff: 999878 missing (95.36%)
AnnualSolarRadiation: 999878 missing (95.36%)
OvershadingFactor: 999878 missing (95.36%)
SolarStorageVolume: 999878 missing (95.36%)
VolumeOfPreHeatStore: 1034902 missing (98.70%)
ElectricityConsumption: 999878 missing (95.36%)
gsdHSSupplHeatFraction: 1032617 missing (98.48%)
gsdHSSupplSystemEff: 1032617 missing (98.48%)
DistLossFactor: 1032617 missing (98.48%)
CHPUnitHeatFraction: 1032617 missing (98.48%)
CHPSystemType: 1032617 missing (98.48%)
CHPElecEff: 1032617 missing (98.48%)
CHPHeatEff: 1032617 missing (98.48%)
CHPFuelType: 1032617 missing (98.48%)
SupplHSFuelTypeID: 1032617 missing (98.48%)
SolarHeatFraction: 1032635 missing (98.48%)
DeliveredLightingEnergy: 27769 missing (2.65%)
DeliveredEnergyPumpsFans: 27769 missing (2.65%)
DeliveredEnergyMainWater: 27360 missing (2.61%)
DeliveredEnergyMainSpace: 27360 missing (2.61%)
PrimaryEnergyLighting: 13068 missing (1.25%)
PrimaryEnergyPumpsFans: 13068 missing (1.25%)
PrimaryEnergyMainWater: 14303 missing (1.36%)
PrimaryEnergyMainSpace: 14303 missing (1.36%)
CO2Lighting: 27769 missing (2.65%)
CO2PumpsFans: 27769 missing (2.65%)
CO2MainWater: 28595 missing (2.73%)
CO2MainSpace: 28595 missing (2.73%)
GroundFloorArea: 0 missing (0.00%)
GroundFloorHeight: 0 missing (0.00%)
FirstFloorArea: 0 missing (0.00%)
FirstFloorHeight: 0 missing (0.00%)
SecondFloorArea: 0 missing (0.00%)
SecondFloorHeight: 0 missing (0.00%)
ThirdFloorArea: 0 missing (0.00%)
ThirdFloorHeight: 0 missing (0.00%)
ThermalBridgingFactor: 0 missing (0.00%)
PredominantRoofTypeArea: 105097 missing (10.02%)
LowEnergyLightingPercent: 0 missing (0.00%)
TotalDeliveredEnergy: 648215 missing (61.82%)
DeliveredEnergySecondarySpace: 258909 missing (24.69%)
DeliveredEnergySupplementaryWater: 615578 missing (58.71%)
LivingAreaPercent: 0 missing (0.00%)
CO2SecondarySpace: 260144 missing (24.81%)
CO2SupplementaryWater: 615578 missing (58.71%)
PrimaryEnergySecondarySpace: 14303 missing (1.36%)
PrimaryEnergySupplementaryWater: 13068 missing (1.25%)
HESSchemeUpgrade: 0 missing (0.00%)
RoomInRoofArea: 0 missing (0.00%)
FirstEnergyTypeId: 15959 missing (1.52%)
FirstEnerProdDelivered: 15960 missing (1.52%)
FirstPartLTotalContribution: 15960 missing (1.52%)
FirstEnerProdConvFactor: 15960 missing (1.52%)
FirstEnerProdCO2EmissionFactor: 15960 missing (1.52%)
FirstEnerConsumedDelivered: 15960 missing (1.52%)
FirstEnerConsumedConvFactor: 15960 missing (1.52%)
FirstEnerConsumedCO2EmissionFactor: 15960 missing (1.52%)
SecondEnergyTypeId: 16806 missing (1.60%)
SecondEnerProdDelivered: 16806 missing (1.60%)
SecondPartLTotalContribution: 16806 missing (1.60%)
SecondEnerProdConvFactor: 16806 missing (1.60%)
SecondEnerProdCO2EmissionFactor: 16806 missing (1.60%)
SecondEnerConsumedDelivered: 16806 missing (1.60%)
SecondEnerConsumedConvFactor: 16806 missing (1.60%)
SecondEnerConsumedCO2EmissionFactor: 16806 missing (1.60%)
ThirdEnergyTypeId: 16806 missing (1.60%)
ThirdEnerProdDelivered: 16806 missing (1.60%)
ThirdPartLTotalContribution: 16806 missing (1.60%)
ThirdEnerProdConvFactor: 16806 missing (1.60%)
ThirdEnerProdCO2EmissionFactor: 16806 missing (1.60%)
ThirdEnerConsumedDelivered: 16806 missing (1.60%)
ThirdEnerConsumedConvFactor: 16806 missing (1.60%)
ThirdEnerConsumedCO2EmissionFactor: 16806 missing (1.60%)
FirstBoilerFuelType: 1032617 missing (98.48%)
FirstHeatGenPlantEff: 1032617 missing (98.48%)
FirstPercentageHeat: 1032617 missing (98.48%)
SecondBoilerFuelType: 1032635 missing (98.48%)
SecondHeatGenPlantEff: 1032635 missing (98.48%)
SecondPercentageHeat: 1032635 missing (98.48%)
ThirdBoilerFuelType: 1032637 missing (98.48%)
ThirdHeatGenPlantEff: 1032637 missing (98.48%)
ThirdPercentageHeat: 1032637 missing (98.48%)
SolarSpaceHeatingSystem: 1032635 missing (98.48%)
TotalPrimaryEnergyFact: 1032617 missing (98.48%)
TotalCO2Emissions: 1032617 missing (98.48%)
FirstWallArea: 133 missing (0.01%)
FirstWallUValue: 133 missing (0.01%)
FirstWallAgeBandId: 13540 missing (1.29%)
FirstWallTypeId: 997 missing (0.10%)
SecondWallArea: 548675 missing (52.33%)
SecondWallUValue: 548675 missing (52.33%)
SecondWallAgeBandId: 555306 missing (52.96%)
SecondWallTypeId: 548989 missing (52.36%)
ThirdWallArea: 862338 missing (82.24%)
ThirdWallUValue: 862338 missing (82.24%)
ThirdWallAgeBandId: 865651 missing (82.55%)
ThirdWallTypeId: 862503 missing (82.25%)
prob_smarea_error_0corr: 234392 missing (22.35%)
prob_smarea_error_100corr: 234392 missing (22.35%)
RER: 685433 missing (65.37%)
RenewEPnren: 685434 missing (65.37%)
RenewEPren: 685434 missing (65.37%)
CPC: 597813 missing (57.01%)
EPC: 597813 missing (57.01%)

# Handle Columns with High Null Values and Impute Numerical Data

1. **Flag Columns with >50% Null Values**:
   - Identifies columns where more than 50% of values are missing.
   - Flags these columns for further review during the EDA phase.

2. **Handle Numerical Columns**:
   - For flagged columns: Replace `NaN` with `-999` as a placeholder, ensuring data is preserved for later analysis.
   - For other columns: Impute missing values with the column's median for better compatibility and statistical integrity.

In [28]:
# Flaging columns with >50% null values for EDA
null_percentages = df.isna().mean() * 100
high_null_columns = null_percentages[null_percentages > 50].index.tolist()
print(f"Columns with >50% null values flagged: {high_null_columns}")

# Handle numerical columns -Impute or Flag
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    if col in high_null_columns:
        df[col] = df[col].fillna(-999)  # Placeholder for flagged columns
    else:
        df[col] = df[col].fillna(df[col].median())  # Impute with median

Columns with >50% null values flagged: ['ApertureArea', 'ZeroLossCollectorEff', 'CollectorHeatLossCoEff', 'AnnualSolarRadiation', 'OvershadingFactor', 'SolarStorageVolume', 'VolumeOfPreHeatStore', 'ElectricityConsumption', 'gsdHSSupplHeatFraction', 'gsdHSSupplSystemEff', 'DistLossFactor', 'CHPUnitHeatFraction', 'CHPSystemType', 'CHPElecEff', 'CHPHeatEff', 'CHPFuelType', 'SupplHSFuelTypeID', 'SolarHeatFraction', 'TotalDeliveredEnergy', 'DeliveredEnergySupplementaryWater', 'CO2SupplementaryWater', 'FirstBoilerFuelType', 'FirstHeatGenPlantEff', 'FirstPercentageHeat', 'SecondBoilerFuelType', 'SecondHeatGenPlantEff', 'SecondPercentageHeat', 'ThirdBoilerFuelType', 'ThirdHeatGenPlantEff', 'ThirdPercentageHeat', 'SolarSpaceHeatingSystem', 'TotalPrimaryEnergyFact', 'TotalCO2Emissions', 'SecondWallArea', 'SecondWallUValue', 'SecondWallIsSemiExposed', 'SecondWallAgeBandId', 'SecondWallTypeId', 'ThirdWallArea', 'ThirdWallUValue', 'ThirdWallIsSemiExposed', 'ThirdWallAgeBandId', 'ThirdWallTypeId', 'RER', 'RenewEPnren', 'RenewEPren', 'CPC', 'EPC']

# Impute Missing Values in Boolean Columns

- Replaces `NaN` in boolean columns with `False`.
- Ensures no missing values remain for SQL compatibility and consistent analysis.

In [29]:
# Boolean columns -impute with False
for col in df.select_dtypes(include=['boolean']).columns:
    df[col] = df[col].fillna(False)

# Standardize Column Names for SQL Compatibility

- Replaces spaces with underscores (`_`) in column names.
- Removes special characters using a regular expression.
- Converts all column names to lowercase.
- Ensures column names meet SQL requirements and maintain consistency.

In [30]:
# Standardize column names
df.columns = (
    df.columns
    .str.replace(' ', '_')           
    .str.replace(r'\W', '', regex=True)  
    .str.lower()                    
)
print("Standardized for SQL compatibility.")

Standardized for SQL compatibility.

# Ensure Data Types are SQL-Compatible

1. **Convert Boolean Columns**:
   - Converts boolean columns (`True/False`) to integers (`1/0`) for SQL compatibility.

2. **Convert Datetime Columns**:
   - Converts datetime columns to string format if required by the SQL database.

3. **Verify Final Data Types**:
   - Prints the final data types of all columns to ensure compatibility before SQL ingestion.

In [34]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

# Ensure data types are SQL-compatible
# Convert boolean columns to 0/1
boolean_columns = df.select_dtypes(include=['boolean']).columns
for col in boolean_columns:
    df[col] = df[col].astype(int)

# Convert datetime columns to string if required
datetime_columns = df.select_dtypes(include=['datetime']).columns
for col in datetime_columns:
    df[col] = df[col].astype(str)

# Print final data types
print("Final data types for SQL ingestion:")
print(df.dtypes)

Final data types for SQL ingestion:
countyname               object
dwellingtypedescr        object
year_of_construction      int64
typeofrating             object
energyrating             object
                         ...
rer                     float64
renewepnren             float64
renewepren              float64
cpc                     float64
epc                     float64
Length: 211, dtype: object

# Final Data Quality Check

1. **Check for Remaining Null Values**:
   - Displays the count of null values for each column to ensure no critical missing data remains.

2. **Check for Duplicate Rows**:
   - Identifies the number of duplicate rows in the dataset.
   - Optionally, duplicates can be dropped if they are deemed unnecessary for analysis or SQL ingestion.

In [32]:
# Check for remaining null values
print("Remaining null values per column:")
print(df.isna().sum())

# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# # Optionally drop duplicates
# if duplicates > 0:
#     df.drop_duplicates(inplace=True)
#     print("Duplicate rows removed.")
#

Remaining null values per column:
countyname              0
dwellingtypedescr       0
year_of_construction    0
typeofrating            0
energyrating            0
                       ..
rer                     0
renewepnren             0
renewepren              0
cpc                     0
epc                     0
Length: 211, dtype: int64
Number of duplicate rows: 23274

In [35]:
# Save cleaned dataset to CSV
df.to_csv("cleaned_data_for_sql_ber.csv", index=False)
print("Cleaned dataset saved for SQL ingestion.")

Cleaned dataset saved for SQL ingestion.